/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
body {
  font-family: 'Playfair Display', serif;
  background-color: #0f0f0f;
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}